
/target/

/src-tauri/target/
/src-tauri/bundled/

**/*.rs.bk
**/*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db


*.log
tmp/
temp/

*.exe
*.dll
*.so
*.dylib
*.pkg
*.deb
*.rpm
*.msi

node_modules/

.env
